@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .GridRupees {
        color: #245188;
    }
</style>
<div class="bread_main">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Pathin"]">Home</a></li>
            <li class="active">Books</li>
        </ol>
    </div>
</div>

<section class="book_first">
    <div class="container">
        <h1 align="center">BOOKS</h1>

        <ul>
            <li>

                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <p><h1>Managing Sucessful Projects with PRINCE2<sup>&reg;</sup> 2009 Edition </h1> </p>
                        <div class="book_inner">
                            <img src="images/book.jpg" class="book_img">
                            <p>
                                <span>Author:</span> &nbsp; Office of Government Commerce
                            </p>

                            <p>
                                <span>Publisher:</span> &nbsp; The Stationery Office
                            </p>

                            <p>
                                <span>Format:</span> &nbsp;Paperback
                            </p>

                            <p>
                                <span>ISBN-13:</span> &nbsp;9780113310593
                            </p>

                            <p>
                                <span>Language:</span>&nbsp; English
                            </p>

                            <h1>Book Information</h1>

                            <p>
                                Managing Successful Projects with PRINCE2 - 2009 Edition is the core text for all PRINCE2 examinations that are based on the
                                PRINCE2: 2009 update of the method, and is an invaluable study aid for all candidates who intent to sit exams based on this new version.
                            </p>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="price_book">
                            <h1>Price <span class="GridRupees">Rs.</span>120 + GST</h1>
                            <!-- <p class="qty">Qty:</p> -->
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Pathin"]/managing-sucessful-projects-with-prince2-2009-edition"><p class="Proceed_previous" style="height:50px; width:170px; color:#fff; margin-left:40px; ">Buy Now  </br>+91 41107198</p></a>
                            <p class="shipping">
                                Shipping:<span class="GridRupees">Rs.</span>15+GST - </br>Postage and
                                handling
                            </p>
                        </div>
                    </div>

                </div>
            </li>

            <li>

                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <p><h1>PRINCE2<sup>&reg;</sup> Pocket Book -2009 Edition</h1></p>
                        <div class="book_inner">
                            <img src="images/book.jpg" class="book_img">
                            <p>
                                <span></span> PRINCE2<sup>&reg;</sup> Pocketbook -2009 Edition is in line with the new Managing Successful Projects with PRINCE2 and has been produced as a reference tool for the trained PRINCE2<sup>&reg;</sup> Practioner who is assumed to be familiar with the method and the terminology
                            </p>

                            <p>
                                <span></span>
                            </p>

                            <!-- <p>
                               <span>Format:</span> Paperback
                               </p>

                                <p>
                               <span>ISBN-13:</span> 9780113310593
                               </p>

                                <p>
                               <span>Language:</span> English
                               </p>

                            <h1>Book Information</h1>

                               <p>Managing Successful Projects with PRINCE2 - 2009 Edition is the core text for all PRINCE2 examinations that are based on the
                            PRINCE2: 2009 update of the method, and is an invaluable study aid for all candidates who intent to sit exams based on this new version.
                            </p> -->
                        </div>

                    </div>

                    <div class="col-md-3  col-sm-3">
                        <div class="price_book">
                            <h1>Price <span class="GridRupees">Rs.</span>15 + GST</h1>
                            <!-- <p class="qty">Qty:</p> -->
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Pathin"]/prince2-pocket-book-2009-edition"><p class="Proceed_previous" style="height:50px; width:170px; color:#fff; margin-left:40px; ">Buy Now  </br>+91 41107198</p></a>
                            <p class="shipping">
                                Shipping:<span class="GridRupees">Rs.</span>10+GST- </br>Postage and
                                handling
                            </p>
                        </div>
                    </div>

                </div>
            </li>



            <li>

                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <p><h1>Passing the PRINCE2<sup>&reg;</sup> Examinations 2009 Edition</h1></p>
                        <div class="book_inner">
                            <img src="images/book.jpg" class="book_img">
                            <p>
                                <span>Author:</span> &nbsp;Office of Government Commerce
                            </p>

                            <p>
                                <span>Publisher:</span> &nbsp;The Stationery Office
                            </p>

                            <p>
                                <span>Format:</span>&nbsp; Paperback
                            </p>

                            <p>
                                <span>ISBN-13:</span>&nbsp; 9780113310593
                            </p>

                            <p>
                                <span>Language:</span> &nbsp;English
                            </p>

                            <h1>Book Information</h1>
                            <div style="margin-left:153px">
                                <p>
                                    Essential reading for those intending to take the new Foundation and courses for PRINCE2<sup>&reg;</sup> 2009, Passing the PRINCE2<sup>&reg;</sup> Examinations 2009 Edition has been revised to include the updated syllabus. It is also suitable for students undertaking self-study and/or online training for the exams. This publication contains sample papers which feature actual exam questions taken from a bank of questions provided by the offical Accreditor, APM Group, so the exam questions in the book may apper on the day of your exam. The sample papers are also presented in the same way as they appea in the exam.
                                </p>
                            </div>
                            <div style="margin-left:152px">
                                <p>
                                    <span></span>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="price_book">
                            <h1>Price <span class="GridRupees">Rs.</span>60 + GST</h1>
                            <!-- <p class="qty">Qty:</p> -->
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Pathin"]/passing-the-prince2-examinations-2009-edition"><p class="Proceed_previous" style="height:50px; width:170px; color:#fff; margin-left:40px; ">Buy Now  </br>+91 41107198</p></a>
                            <p class="shipping">
                                Shipping:<span class="GridRupees">Rs.</span>15+GST -</br>Postage and
                                handling
                            </p>
                        </div>
                    </div>

                </div>
            </li>

            <li>

                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <p><h1>Core PRINCE2<sup>&reg;</sup> Exam Book Bundle (PRINCE2<sup>&reg;</sup> 2009)</h1></p>
                        <div class="book_inner">
                            <img src="images/book.jpg" class="book_img">
                            <p>
                                <span>Author:</span> &nbsp;Office of Government Commerce
                            </p>

                            <p>
                                <span>Publisher:</span> &nbsp;The Stationery Office
                            </p>

                            <p>
                                <span>Format:</span>&nbsp; Paperback
                            </p>

                            <p>
                                <span>ISBN-13:</span> &nbsp;9780113310593
                            </p>

                            <p>
                                <span>Language:</span>&nbsp; English
                            </p>

                            <h1>Book Information</h1>

                            <p>
                                This package contains the 2009 editions of:
                            </p>
                            <div style="margin-left:152px">
                                <p>
                                    Managing successful Projects with PRINCE2<sup>&reg;</sup> (usually <span class="GridRupees">Rs.</span>160.00)
                                </p>
                                <p>Passing the PRINCE2<sup>&reg;</sup> examinations (usually <span class="GridRupees">Rs.</span>60.00)</p>
                                <p>PRINCE2<sup>&reg;</sup> Pocketbook (usually <span class="GridRupees">Rs.</span>15.00)</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="price_book">
                            <h1>Price <span class="GridRupees">Rs.</span>200 + GST</h1>
                            <!-- <p class="qty">Qty:</p> -->
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Pathin"]/core-prince2-exam-book-bundle-prince2-2009"><p class="Proceed_previous" style="height:50px; width:170px; color:#fff; margin-left:40px; ">Buy Now  </br>+91 41107198</p></a>
                            <p class="shipping">
                                Shipping:<span class="GridRupees">Rs.</span>20+GST-</br> Postage and
                                handling
                            </p>
                        </div>
                    </div>

                </div>
            </li>


            <li>

                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <p><h1>Directing Successful Projects with PRINCE2<sup>&reg;</sup> 2009 Edition</h1></p>
                        <div class="book_inner">
                            <img src="images/book.jpg" class="book_img">
                            <p>
                                <span>Author:</span> &nbsp;Office of Government Commerce
                            </p>

                            <p>
                                <span>Publisher:</span> &nbsp;The Stationery Office
                            </p>

                            <p>
                                <span>Format:</span>&nbsp; Paperback
                            </p>

                            <p>
                                <span>ISBN-13:</span> &nbsp;9780113310593
                            </p>

                            <p>
                                <span>Language:</span> &nbsp;English
                            </p>

                            <h1>Book Information</h1>
                            <div style="margin-left:152px">
                                <p>
                                    This title has been designed to be a role specific handbook for senior managers and project board members, which describes how to oversee projects being managed using PRINCE2<sup>&reg;</sup>. The guide sets PRINCE2<sup>&reg;</sup> in the wider context of project management (but still non-specific for industry sector)and describes or cross-references techniques which support the PRINCE2<sup>&reg;</sup> method.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="price_book">
                            <h1>Price <span class="GridRupees">Rs.</span>120 + GST</h1>
                            <!-- <p class="qty">Qty:</p> -->
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Pathin"]/directing-successful-projects-with-prince2-2009-edition"><p class="Proceed_previous" style="height:50px; width:170px; color:#fff; margin-left:40px; ">Buy Now  </br>+91 41107198</p></a>
                            <p class="shipping">
                                Shipping:<span class="GridRupees">Rs.</span>15+GST- </br>Postage and
                                handling
                            </p>

                        </div>
                    </div>

                </div>
            </li>

        </ul>


        <!--
           <nav class="book_page">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">Next</span>
              </a>
            </li>
          </ul>
        </nav> -->


    </div>
</section>
