@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.MetaDescription = "Prince2, the best project management training course offered by Globally accredited No 1 training organization HSRS Global which is situated in Australia.";
    ViewBag.MetaKeywords = "pmp certification, project management institute, project management professional, project management course, prince2 certification, project management training, prince2 practitioner, prince2 training, prince2 project management, prince2 course, prince2 methodology, prince2 exam, prince2 qualification, project management courses online, prince2 exam questions, prince2 training melbourne";
    ViewBag.Canonical = "http://www.hsrsglobal.com.au/";
    ViewBag.Title = "Prince2 Training Melbourne | Project Management Institute Australia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .black_overlay {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #222;
        z-index: 999999;
        opacity: 0.6;
    }

    .overlay_inner {
        position: fixed;
        top: 20%;
        left: 29%;
        width: 0%;
        height: 0%;
        background-color: transparent;
        z-index: 999999;
    }
</style>
<style>
    .tab-content.hsr .tab-pane {
        display: none;
    }

        .tab-content.hsr .tab-pane.active {
            display: block;
        }

    .main-conts .container-fluid {
        padding: 0;
    }

    ul#leftTabs {
        text-align: center;
    }

        ul#leftTabs li {
            display: inline-block;
            padding-top: 10px;
        }

    .tab-content12 .nav > li > a {
        background: #EBEBEB;
        padding: 10px 136px;
    }

    .tab-content12 .nav > li.active > a {
        color: #fff;
        background-color: #1d3456;
        border: 1px solid #1d3456;
        border-bottom-color: transparent;
        border-radius: 0;
    }
</style>

<section class="slider">
    <img src="@System.Configuration.ConfigurationManager.AppSettings["Path"]/images/HSRS_new_banner.jpg" class="slider_img" />
    @*<div class="container">
            <div class="top_slider">
                <h1>FREE FREE FREE!!! </h1>
                <p class="fount">PRINCE2® Foundation and Practitioner Online access with July classroom training</p>
                <p class="fount_price" style="text-align: center;background-color: white;">Value of $600</p>
                @*<a href="@System.Configuration.ConfigurationManager.AppSettings["Path"]/prince2onlinetraining"><input type="submit" class="prince_buy" value="Book Now"></a>
            </div>
        </div>*@
    <div class="container">
        <div class="top_slider" style="font-size: 15px;">
            <p class="fount">Globally Accredited Project Management Training in Melbourne</p>
        </div>
    </div>
</section>
<div id="Intro" class="black_overlay" style="width: 100%; height: 100%; display:none"></div>
<div style="display:none" id="Inner" class="overlay_inner">
    <img src="~/images/please_wait.gif" />
</div>
<section class="book_online">
    <div class="Orange_bg">
        <div class="container" style="position:relative;">
            @*<div class="training_location">
                <img src="images/banner_03.jpg">
                </div>*@
            @*<div class="training_location" style="top:-145px">
                    <div class="train_loc_inner">
                        <ul>
                            <li><h1>TRAINING LOCATIONS</h1></li>
                            <li><a href="#tableview">PRINCE2<sup>&reg;</sup>Training Melbourne</a></li>
                            <li><a href="#tableview">PRINCE2<sup>&reg;</sup>Training Sydney</a></li>
                            @*<li><a href="#tableview">PRINCE2<sup>&reg;</sup>Training Canberra</a></li>
                                <li><a href="#tableview">PRINCE2<sup>&reg;</sup>Training Brisbane</a></li>
                        </ul>

                    </div>
                </div>*@
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="col-md-4">
                        <div class="high_inact">
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Path"]/highlyinteractive">Highly Interactive using Tablets</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="high_inact">
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Path"]/prince2exam">Exam Resit Guarantee</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="high_inact">
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Path"]/prince2presentation">Presentation from Senior Managers</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="hsrs">
                        <img src="@System.Configuration.ConfigurationManager.AppSettings["Path"]/images/hsrsgif.gif">
                    </div>
                    @*<div class="newsletter">
                        <p>Please provide your email address to receive more details</p>
                        <input type="text" placeholder="Enter Your Email ID" class="email_text">
                        <input type="submit" value="SUBMIT" class="email_submit">
                        </div>*@
                </div>
                @*<div class="col-md-4 col-sm-4">
                        <div class="newsletter">
                            <p>Please provide your email address to receive more details</p>
                            <input type="text" id ="emailnews" placeholder="Enter Your Email ID" class="email_text">
                            <input type="button" id="submitnews" value="SUBMIT" class="email_submit">
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

</section>



<div class="main-conts ">
    <div class="container-fluid">
        <div class="tab-content12">
            <ul class="nav " id="leftTabs">
                <li class="active">
                    <a href="#a_tab" data-toggle="tab">
                        <span></span>PRINCE2
                    </a>
                </li>
                <li class="">
                    <a href="#b_tab" data-toggle="tab">
                        <span></span>PRINCE2 Agile
                    </a>
                </li>
                <li class="">
                    <a href="#c_tab" data-toggle="tab">
                        <span></span>PMP
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content hsr">

            <div class="tab-pane active" id="a_tab">
                @Html.Partial("~/Views/Home/_PRINCE2.cshtml");
               
                </div>
                    <div class="tab-pane" id="b_tab">
                      @Html.Partial("~/Views/Home/_PRINCE2_Agile.cshtml");
                    </div>
                    <div class="tab-pane " id="c_tab">
                      @Html.Partial("~/Views/Home/_PMP.cshtml");
                    </div>
               
            </div>
<script>
    var cname = $("#emailnews").val();
    function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    };
    $("#submitnews").click(function () {
        var email = $("#emailnews").val();
        if (email == "" || email == null) {
            alert("Please Enter Your Email address ");
            $("#emailnews").focus();
            return false;
        }
        else if (email != "" || email != null) {
            if (!ValidateEmail(email)) {
                alert("Invalid email address.");
                $("#emailnews").focus();
                return false;
            }
        }
        $('#Intro').css("display", "");
        $('#Inner').css("display", "");
        $.ajax({
            url: "@System.Configuration.ConfigurationManager.AppSettings["Path"]/Home/newsletter/" + email, success: function (result) {

                setTimeout(function () {
                    alert(result);
                    $("#emailnews").val("");
                    $('#Intro').css("display", "none");
                    $('#Inner').css("display", "none");
                }, 2000);
            }
        });
    });
</script>
